<div class="container">
<p class="flow-text">Dr. <%= @doctor.name %>'s in-patients</p>

<%= link_to "Admit New Patient", patients_new_path(:doctor_id => @doctor.id), {:class => "button waves-effect wave-light btn"} %>
<%= link_to content_tag('i', 'add', class: 'small material-icons'), patients_new_path(:doctor_id => @doctor.id), data: {confirm:"Admit a new patient?"} %>

<br/>

<table class="highlight">
    <tr>
        <th>MRN</th>
        <th>Patient's Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Admission Date</th>
        <th>Bed No.</th>
    </tr>

    <% @patients.each do |patient| %>
        <tr>
            <th><%= patient.mrn %></th>
            <th><%= patient.name %></th>
            <th><%= patient.age %></th>
            <th><%= patient.gen %></th>
            <th><%= patient.created_at.strftime("%d-%m-%Y") %></th>
            <th><%= patient.bed_no %></th>
        </tr>
    <% end %>
</table>
</div>